@import "variables.scss";
///	theme by saturn.		

/// root changes
	:root {
		--font-display: var(--font-primary);
		// reply/mention tweaks (i think)
			//--border-length: 3px;
			//--left-margin: -7px;
		
	}
/// Color ==================================================
	// popout color changes 
		// heading text recolor 
			.base-1x0h_U.muted-3-7c5L { 
				color: var(--theme-accent-text); 
			}
		// spotify disabled button recolor 
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
				background-color: var(--background-modifier-accent);
				color: var(--text-muted);
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
				background-color: var(--background-modifier-accent);
				color: var(--text-muted);
			}
		// spotify allowed button recolor 
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
				background-color: var(--theme-accent);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
				background-color: var(--theme-accent-brighter);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
				background-color: var(--theme-accent);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
				background-color: var(--theme-accent-brighter);
				transition: background-color 0.1s ease-in-out;
			}
		// spotify playing bar recolor 
			.theme-light .newPopoutActivityStyles .barInner-3NDaY_ { background-color: var(--theme-accent); }
			.theme-dark .newPopoutActivityStyles .barInner-3NDaY_ { 
				background-color: var(--theme-accent); 
			}
	// search color changes 
		// search placeholder text  
			.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
				color: var(--theme-accent-text)
			}
		// magnifying glass and delete icons 
			.clear-1pMieT .icon-3cZ1F_ {
				color: var(--theme-accent-text)
			}
			.icon-3cZ1F_ {
				color: var(--theme-accent-text)
			}
		// message containers 
			.container-1r6BKw, .container-1r6BKw {
				color: var(--theme-accent-text);
			}
			.search-2oPWTC {
				color: var(--theme-accent-text);
			}
		// filter color
			.theme-light .searchAnswer-3Dz2-q, .theme-light .searchFilter-2ESiM3 {
				background-color: var(--theme-accent-superbright);
			}
			.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
				background-color: var(--theme-accent-superbright);
			}
	// text color fixes 
		.activityText-yGKsKm {
			color: var(--theme-accent-text)
		}
		.activity-2Gy-9S {
			color: var(--theme-accent-text);
		}
		.bsi-clientStatuses {
			color: var(--theme-accent-text);
		}
		.colorDefault-2K3EoJ {
			color: var(--text-normal);
		}
		// ?????? 
			.content-3QAtGj {
				color: var(--text-normal);
			}
		// settings sidebar text fix 
		.side-8zPYf6 .item-PXvHYJ {
			color: var(--text-normal)
		}
		// channel category 
		.container-2ax-kl {
			color: var(--text-secondary);
			font-weight: bold;
		}
	// small sidebar when mentioned 
		.mentioned-xhSam7:before {
			background-color: var(--background-modifier-accent);
		}
	// spotify color fix 
		.theme-light:root {
			--spotify-color: var(--spotify-accent) !important;
		}
	// make titlebar white 
		.container-1r6BKw.themed-ANHk51 {
			background: var(--background-secondary);
		}
		.children-19S4PO:after {
			display: none;
		}
	// unread banner pill tweaks
			.unread-1xRYoj {
				background-color: var(--theme-accent);
				width: 300px;
				margin-left: -40px;
				margin-right: 0px;
				opacity: 1;
			}
	// server select/unread pill recolor
			.item-2hkk8m {
				background-color: var(--theme-accent);
			}
	// viewing older messages 
			.jumpToPresentBar-G1R9s6 {
				background: var(--theme-accent);
			}
	// reactions tweaks 
		.reactionInner-15NvIl {
			background-color: var(--background-modifier-hover);
			border-radius: 10px;
		}
		.reactionInner-15NvIl[aria-pressed="true"] {
			background-color: var(--background-modifier-accent);
			border-radius: 10px;
		}
	// reply stuff that i don't understand
		#app-mount .replying-1x3H0T {
			background: transparent;
		}
		#app-mount .replying-1x3H0T::before {
			content: none;
		}
	// powerbottom toggle switch color fix
		.icon-3Gkjwa {
			filter: grayscale(100%);
		}
		.icon-3Gkjwa:hover {
			filter: grayscale(0%);
		}
	// theme selected 
		.item-26Dhrx[aria-checked="true"] {
			color: var(--theme-accent-superdark);
		}
	// switch recolor 
		.container-3auIfb {
			background-color: var(--theme-accent);
		}
	// discord icon perm color 
		.childWrapper-anI2G9 {
			background-image: linear-gradient(to bottom, #EEC19E,#D1A296,#B98A91,#A0758C,#7B5C81); 
		}
		.homeIcon-FuNwkv {
			color: var(--background-modifier-hover);
		}
/// Shadows ==================================================
	// main chat 
		// main chat window drop shadow 
			.chatContent-a9vAAp {
				box-shadow: inset var(--elevation-medium);
				transition: box-shadow 0.2s ease-in-out;
			}
		// usernames in chat 
			/*.username-1A8OIy {
				//text-shadow: 0px 0px 4px rgba(0,0,0,0.25);
				filter: contrast(50%);
				-webkit-text-stroke-width: 0px;
				-webkit-text-stroke-color: var(--theme-accent-text);
			}*/
			.theme-light .username-1A8OIy.desaturateUserColors-1gar-1.clickable-1bVtEA, .theme-light .roleColor-rz2vM0.desaturateUserColors-1gar-1 {
				filter:contrast(80%);
			}
			.headerText-3Uvj1Y {
				//background-color: gray;
				border-radius: 5px;
				width: calc(100% + 20px);
				margin-right: 0px !important;
			}
			/*span.username-1A8OIy.desaturateUserColors-1gar-1.clickable-1bVtEA {
				text-shadow: var(--elevation-stroke-text);
				//color: black !important;
			}*/
		// main message bar drop shadow 
			.scrollableContainer-2NUZem {
				box-shadow: var(--elevation-low), var(--elevation-stroke);
				transition: box-shadow 0.2s ease-in-out;
			}
			.scrollableContainer-2NUZem:hover {
				box-shadow: var(--elevation-medium), var(--elevation-stroke);
			}
			.scrollableContainer-2NUZem:focus-within {
				box-shadow: var(--elevation-medium), var(--elevation-stroke);
			}
		// reply bar drop shadow 
			.attachedBars-tZDmyV {
				box-shadow:var(--elevation-medium);
			}
		// small message options container
			.wrapper-2aW0bm {
				box-shadow: var(--elevation-low), var(--elevation-stroke);
			}
	// shadow on own pfp 
		.container-3baos1 {
			box-shadow: var(--elevation-low), var(--elevation-stroke);
			border-radius: 25px;
			margin: 5px;
		}
	// removes broken drop shadow on chat pfps 
		.mask-1l8v16 {
			box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
		}
	// popout pfp shadow 
		.mask-1l8v16 {
			box-shadow: var(--elevation-medium);
		}
	// embed tweaks 
		.embedWrapper-lXpS3L {
			box-shadow: var(--elevation-low), var(--elevation-stroke);
		}
	// code block tweaks 
		code {
			box-shadow: inset var(--elevation-low), var(--elevation-stroke);
		}
	// picture in picture shadow
		.pictureInPictureVideo-2iKsGg {
			box-shadow: var(--elevation-high);
		}
	// discord icon shadow
		//#guildsnav___home {

		//}
/// Size/shape tweaks ==================================================	
	// nitro banner fix 
		.bannerPremium-2hSAwz {
			height: 120px;
		}
	// popout transition tweak 
		.full-motion .translate-2dAEQ6.animatorRight-3i_YPs {
			transform: translate3d(0px,-10px,0);
			-webkit-transform: translate3d(0px,-10px,0);
			transition: 0.2s ease-in-out;
		}
		.full-motion .translate-2dAEQ6.animatorLeft-1EQxU0 {
			transform: translate3d(0px,-10px,0);
			-webkit-transform: translate3d(0px,-10px,0);
			transition: 0.2s ease-in-out;
		}
	// viewing older messages bar 
		.jumpToPresentBar-G1R9s6 {
			width: auto;
			left: auto;
		}
	// settings remove side margin 
		.contentColumn-2hrIYH, .customColumn-Rb6toI {
			max-width: unset;
		}
		.sidebarRegion-VFTUkN {
			flex: 0 0 auto;
		}
	// settings sidebar spacing 
		.sidebar-CFHs9e {
			padding-top: 10px;
			padding-left: 0px;
		}
	// unread channel pill 
		.unread-2lAfLh {
			background: var(--theme-accent);
			height: 28px;
			width: 4px;
			top: 4px;
			left: 2px;
			border-radius: 4px;
			z-index: 10;
			position:absolute;
			margin-top: -2px;
			margin-bottom: -25px;
		}
	// server icons tweaks 
		.circleButtonBase-2DCxIZ {
			border-radius: 20px;
			filter: grayscale(100%);
		}
		// puts all not selected servers at medium elevation
		[aria-label=Servers] .listItem-GuPuDH:not(.selected) svg {
			border-radius: 20px;
			box-shadow: var(--elevation-medium), var(--elevation-stroke-text);
		  }
		// put selected server at high elevation
		[aria-label=Servers] .listItem-GuPuDH:is(.selected) svg {
			border-radius: 12px;
			box-shadow: var(--elevation-high), var(--elevation-stroke-text);
		}
		// hide svg shadow
		[aria-label=Servers].expandedFolderIconWrapper-Huv7rA:not(.selected) svg {
			box-shadow: none;
		  }
		.folder-1hbNCn {
			border-radius: 50%;
		}
		.folderIconWrapper-1_bOZe {
			border-radius: 12px;
			box-shadow: none;
		}
		.childWrapper-anI2G9 {
			border-radius: 12px;
		}
		.icon-27yU2q {
			border-radius: 12px;
		}
		/*.wrapper-3Njo_c {
			box-shadow: none;
		}
		// set server list to correct height
		.tree-2wKJdG {
			width: 72px;
		}
		// hide unseleceted cicle mask
		.svg-1X37T1 > mask {
			display: none !important;
		}
		.svg-1X37T1 > foreignObject {
			mask: none; 
		}
		// make icon rounded
		.icon-27yU2q {
			border-radius: 12px !important;
		}*/
	// channel tweaks 
		// private messages 
			.layout-2DM8Md {
				border-radius: 5px;
				width: 220px;
			}
			.selected-aXhQR6 .layout-2DM8Md {
				box-shadow: var(--elevation-stroke);
			}
		// channels 
			.content-1x5b-n {
				border-radius: 0px;
				color: var(--theme-accent);
				width: 240px;
				left: -8px;
				height: 34px;
				margin-top: -2px;
			}
			.modeSelected-346R90 .content-1x5b-n {
				box-shadow: var(--elevation-stroke);
				height: 34px;
			}
			.mainContent-2h-GEV > .name-3l27Hl {
				font-weight: bold;
			}
	// new messages bar 
		.newMessagesBar-265mhP {
			width: auto;
			left: auto;
			right: -8px;
			background-color: var(--theme-accent);
		}
	// server icon in inbox 
		.icon-3o6xvg {
			left: 10px;
		}
	// collapse button in inbox 
		.collapseButton-2ZsEjz {
			left: 5px;
			margin-right: 20px;
		}
	// search bar transition
		.searchBar-3dMhjb {
			width: 32px;
			transition: width 0.1s ease-in-out;
			background-color: var(--background-modifier-accent);
			height: 25px;
			color: var(--text-normal);
		}
	// right click submenu margin fix
		.submenuContainer-2gbm7M {
			left: -8px;
		}
		#message-add-reaction, #message-item-0-0-1, #user-context-invite-to-server, #user-context-roles {
			left: 8px;
		}
/// Hidden elements ==================================================
	// hide titlebar
		//.titleBar-AC4pGV {
		//	display: none;
		//}
	// hide small server separator bar 
		.guildSeparator-33mFX6 {
			display: none;
		}
		.scroller-1Bvpku > .listItem-GuPuDH {
			display: none;
		} 
	// hide help button 
		.iconWrapper-2OrFZ1[aria-label="Help"]>.icon-22AiRD {
			display: none;
		}
	// hide file button 
		.attachWrapper-2TRKBi{
			display: none;
		}
	// hide gift button 
		.buttons-3JBrkn>[aria-label]{
			display:none;
		}
	// hide weird bar on the side of the message bar 
		.form-2fGMdU::before {
			display: none;
		}
	// messages scroll bar 
		.scroller-2LSbBU::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
	// server channel scroll bar 
		.scroller-RmtA4e::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
	// direct messages list scroll bar 
		.thin-1ybCId::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
		.peopleList-3c4jOR::-webkit-scrollbar {
			display: none;
		}
	// hide set server nick in popout
		.setIdentityLink-1t8Ahd {
			display: none;
		}
	// hide stage discovery/nitro channel in dms
		#private-channels-2 {
			display: none;
		}
		#private-channels-1 {
			display: none;
		}
	// hide browse public servers 
		.scroller-1Bvpku > .listItem-GuPuDH:nth-last-child(2) {display: none;}
	// hide spotify logo 
		.spotifyIcon-2J9kSv path {
			display: none;
		}
/// search bar/inbox stuff ==================================================
	.container-2j2llN {
		box-shadow: var(--elevation-medium);
		border-radius: 10px;
		color: var(--theme-accent-text);
	}
	.searchResult-9tQ1uo {
		box-shadow: var(--elevation-medium);
		border-radius: 10px;
	}
	.messages-3G3erD {
		box-shadow: var(--elevation-medium);
		border-radius: 10px;
		top: 10px;
	}
	.container-enaOkj {
		color: var(--background-primary);
		background-color: var(--background-primary);
	}
	.messageGroupWrapper-o-Zw7G {
		box-shadow: var(--elevation-medium);
		right: 4px;
	}
	.header-2-Imhb {
		min-height: 50px;
		margin-bottom: 5px;
	}
	.channelHeader-3Gd2xq {
		height: 50px;
		top: 5px;
		width: auto;
		border-radius: 10px;
		margin-bottom: 10px;
		box-shadow: var(--elevation-medium);
	}
/// unused	==================================================
/*
	// messages pfp shadow 
		.avatar-1BDn8e {
			box-shadow: var(--elevation-low);
		}
	// make server folder non transparent
		.folderIconWrapper-1_bOZe {
			background-color: transparentize(.3);
		}
	// hide status mask
		.avatar-1BDn8e foreignObject {
			border-radius: 12px;
		}
		.pointerEvents-2zdfdO {
			rect {
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg);
			}
		}
		.mask-1l8v16.svg-2V3M55 {
			rect {
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg);
			}
		}
		.mask-1l8v16.svg-2V3M55 foreignObject {
			rect { 
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg)
			}
		}
*/


