.theme-light {
	// logo
		--logo-primary: var(--theme-accent);
		--focus-primary: var(--theme-accent);
	// blurple, hover, and foreground
		--brand-experiment: var(--theme-accent);
		--brand-experiment-560: var(--theme-accent-brighter);
		--control-brand-foreground: var(--theme-accent);
	// Text colors
		--header-primary: var(--text-normal);
		--header-secondary: var(--theme-accent);
		--text-normal: #000000;
		--text-secondary: var(--theme-accent);
		--text-muted: #999999;
	// Hyperlink color
		--text-link: #AB5EBA;
		--channels-default: #000000;
		--interactive-normal: var(--theme-accent-text);
		--interactive-hover: #000000;
		--interactive-active: var(--theme-accent-superdark);
		--interactive-muted: #999999;
	// Text background color
		--background-primary: #fafafa;
	// Channel background
		--background-secondary: #ffffff;
		--background-secondary-alt: #ffffff;
	// Discord top bar and channel background
		--background-tertiary: #ffffff;
	// theme color accents
		--theme-accent: #7B5C81;
		--theme-accent-brighter: #8E6A95;
		--theme-accent-text: #664C6B;
		--theme-accent-superdark: #432749;
		--theme-accent-superbright: #AA80B3;
	// elevation shadows
		--elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
		--elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
		--elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
		--elevation-high: 0 8px 16px rgba(0,0,0,0.16);
		--guild-header-text-shadow: var(--elevation-high);
	// Right click menu
		--background-floating: #fff;
		--background-mobile-primary: #fbfbfb;
		--background-mobile-secondary: #e0e0e0;
	// Channel hover
		--background-modifier-hover: #FDF9F5;
		--background-modifier-active: var(--background-modifier-accent);
	// Selected channel
		--background-modifier-selected: var(--background-modifier-accent);
		--background-modifier-accent: #FAECE2;
		// mentioned
		--background-mentioned: var(--background-modifier-accent);
		--background-mentioned-hover: var(--background-modifier-accent);
	// Message hover color
		--background-message-hover: transparent;
	// Message box
		--channeltextarea-background: #ffffff;
		--activity-card-background: #c7c7c7;
		--textbox-markdown-syntax: var(--theme-accent-superbright);
	// spotify color
		--spotify-accent: var(--theme-accent-brighter);
	// reply variables
		--mentioned-border: var(--theme-accent);
		--mentioned-bg: var(--background-mentioned);
		--mentioned-bg-hover: var(--background-mentioned-hover);
		--replying-border: var(--theme-accent);
		--replying-bg: rgba(114, 137, 218, 0.05);
		--replying-bg-hover: var(--theme-accent);
}
.theme-dark {
	// logo
		--logo-primary: var(--theme-accent);
		--focus-primary: var(--theme-accent);
	// blurple & hover
		--brand-experiment: var(--theme-accent);
		--brand-experiment-560: var(--theme-accent-brighter);
	// Text colors
		--header-primary: var(--text-normal);
		--header-secondary: var(--theme-accent);
		--text-normal: #FDF9F5;
		--text-secondary: #E8D9C9;
		--text-muted: #999999;
	// Hyperlink color
		--text-link: #AB5EBA;
		--channels-default: var(--text-normal);
		--interactive-normal: var(--theme-accent-darker);
		--interactive-hover: var(--text-normal);
		--interactive-active: var(--text-normal);
		--interactive-muted: #999999;
	// Text background color
		--background-primary: #29222A;
	// Channel background
		--background-secondary: #1F1221;
		--background-secondary-alt: #1F1221;
	// Discord top bar and channel background
		--background-tertiary: #1F1221;
	// theme color accents
		--theme-accent: #7B5C81;
		--theme-accent-brighter: #8E6A95;
		// 8E6A95
		--theme-accent-darker: #664C6B;
		--theme-accent-text: var(--text-secondary);
		// #664C6B
		--theme-accent-superdark: #432749;
		--theme-accent-superbright: #AA80B3;
	// Right click menu
		--background-floating: var(--background-secondary);
		--background-mobile-primary: #fbfbfb;
		--background-mobile-secondary: #e0e0e0;
	// Channel hover
		--background-modifier-hover: var(--theme-accent);
		--background-modifier-active: var(--theme-accent);
	// Selected channel
		--background-modifier-selected: var(--background-modifier-accent);
		--background-modifier-accent: var(--theme-accent-brighter);
		// mentioned
		--background-mentioned: var(--background-modifier-accent);
		--background-mentioned-hover: var(--background-modifier-accent);
	// Message hover color
		--background-message-hover: transparent;
	// elevation shadows
		--elevation-stroke: 0 0 0 1px rgba(249,249,248,0.08);
		--elevation-low: 0 1px 0 rgba(249,249,248,0.1),0 1.5px 0 rgba(249,249,248,0.05,0) 2px 0 rgba(249,249,248,0.05);
		--elevation-medium: 0 4px 4px rgba(255,255,255,0.08);
		--elevation-high: 0 8px 16px rgba(255,255,255,0.15);
		--guild-header-text-shadow: var(--elevation-high);
	// Message box
		--channeltextarea-background: var(--background-secondary);
		--activity-card-background: #c7c7c7;
		--textbox-markdown-syntax: var(--theme-accent-superbright);
	// spotify color
		--spotify-accent: var(--theme-accent-brighter);
	// reply variables
	--mentioned-border: var(--theme-accent);
	--mentioned-bg: var(--background-mentioned);
	--mentioned-bg-hover: var(--background-mentioned-hover);
	--replying-border: var(--theme-accent);
	--replying-bg: rgba(114, 137, 218, 0.05);
	--replying-bg-hover: var(--theme-accent);
	}
// sass variables (WIP
/*
:root {
	$ele-low: "var(--elevation-low)";
	$ele-med: "var(--elevation-medium)";
	$ele-high: "var(--elevation-high)";
	$ele-low-inset: "inset var(--elevation-low)";
	$ele-med-inset: "inset var(--elevation-medium)";
	$ele-high-inset: "inset var(--elevation-high)";
}
*/
// status vars from radial status
:root {
	--rs-small-spacing: 2px !important; 
	--rs-medium-spacing: 3px !important;
	--rs-large-spacing: 4px !important;

	--rs-small-width: 2px !important;
	--rs-medium-width: 3px;
	--rs-large-width: 3px;

	--rs-avatar-shape: 50% !important;

	--rs-online-color: #43b581;
	--rs-idle-color: #faa61a;
	--rs-dnd-color: #f04747;
	--rs-offline-color: #636b75;
	--rs-streaming-color: #643da7;
	--rs-invisible-color: #747f8d;
	--rs-phone-color: var(--rs-online-color);

	--rs-phone-visible: none !important;
}
:root {
	--elevation-stroke-text: 0 0 2px rgba(6,6,7,0.2) !important;
}