@import "variables.scss";
///	theme by saturn.		

/// font changes
	:root {
		--font-primary: 'JetBrains Mono';
		--font-display: var(--font-primary);
		--font-code: var(--font-primary);
		letter-spacing: -0.35px;
		word-spacing: -4px;
		line-height: 16px;
	}
	.markup-2BOw-j {
		line-height: 20px !important;
		top: 2px;
	}
	.markup-2BOw-j code.inline {
		font-family: "JetBrains Mono" !important;
		font-size: 18px;
	}
	.messageContent-2qWWxC {
		font-size: 18px;
	}
	.theme-light .markup-2BOw-j {
		line-height: 20px;
	}
	.repliedTextContent-1R3vnK {
		font-size: 16px !important;
		bottom: -2px;
	}
	.slateTextArea-1Mkdgw {
		font-size: 18px;
		top: 3px;
	}
	.placeholder-37qJjk {
		font-size: 18px;
	}
	.placeholder-37qJjk[aria-hidden=true] {
		content: 'write a message...';
	}
	.bodyTitle-1ySSKn, .aboutMeTitle-1IYtPE {
		font-size: 14px;
	}
	.customStatusText-1vtUsN {
		font-size: 14px !important;
		font-weight: 500;
	}
	.aboutMeBody-3GuvKk {
		font-size: 14px !important;
		word-wrap: normal;
		-webkit-line-clamp: 20;
		code {
			font-size: 14px !important;
		}
	}
	.note-1oo11U {
		.textarea-2r0oV8 {
			font-size: 14px !important;
		}
	}
	.aboutMeBody-3GuvKk.markup-2BOw-j.clamped-IwJfxR {
		font-size: 12px;
	}
	// aka names
		.base-PmTxvP {
			font-size: 14px;
			font-style: italic;
		}
		.nicknames-1XK4Zt {
			font-size: 14px;
			font-style: italic;
		}
	// discord wordmask in top left
		.wordmark-2iDDfm:after {
		content: "hakka";
		font-size: 14px;
		font-weight: 800;
		position: absolute;
		top: 6px;
		padding-left: -2px;
		font-family: var(--font-primary);
		width: max-content;
		color: var(--theme-accent);
	}
	.wordmark-2iDDfm > svg {width: 0px;}
	// bot text fix
		.botText-1526X_ {
			font-size: 10px !important;
			top: 3%;
			font-weight: 600 !important;
		}
	// live make not italic
		.base-PmTxvP {
			font-style: normal;
		}
/// Color ==================================================
	// popout color changes 
		// heading text recolor 
			.base-1x0h_U.muted-3-7c5L { 
				color: var(--theme-accent-text); 
			}
		// spotify disabled button recolor 
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
				background-color: var(--background-modifier-accent);
				color: var(--text-muted);
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
				background-color: var(--background-modifier-accent);
				color: var(--text-muted);
			}
		// spotify allowed button recolor 
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
				background-color: var(--theme-accent);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
				background-color: var(--theme-accent-brighter);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
				background-color: var(--theme-accent);
				transition: background-color 0.1s ease-in-out;
			}
			.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
				background-color: var(--theme-accent-brighter);
				transition: background-color 0.1s ease-in-out;
			}
		// spotify playing bar recolor 
			.theme-light .newPopoutActivityStyles .barInner-3NDaY_ { background-color: var(--theme-accent); }
			.theme-dark .newPopoutActivityStyles .barInner-3NDaY_ { 
				background-color: var(--theme-accent); 
			}
	// search color changes 
		// search placeholder text  
			.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
				color: var(--theme-accent-text)
			}
		// magnifying glass and delete icons 
			.clear-1pMieT .icon-3cZ1F_ {
				color: var(--theme-accent-text)
			}
			.icon-3cZ1F_ {
				color: var(--theme-accent-text)
			}
		// message containers 
			.container-1r6BKw, .container-1r6BKw {
				color: var(--theme-accent-text);
			}
			.search-2oPWTC {
				color: var(--theme-accent-text);
			}
		// filter color
			.theme-light .searchAnswer-3Dz2-q, .theme-light .searchFilter-2ESiM3 {
				background-color: var(--theme-accent);
			}
			.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
				background-color: var(--theme-accent-brighter);
			}
	// text color fixes 
		.activityText-yGKsKm {
			color: var(--theme-accent-text)
		}
		.activity-2Gy-9S {
			color: var(--theme-accent-text);
		}
		.bsi-clientStatuses {
			color: var(--theme-accent-text);
		}
		.colorDefault-2K3EoJ {
			color: var(--text-normal);
		}
		// ?????? 
			.content-3QAtGj {
				color: var(--text-normal);
			}
		// settings sidebar text fix 
		.side-8zPYf6 .item-PXvHYJ {
			color: var(--text-normal)
		}
		// channel category 
		.container-2ax-kl {
			color: var(--text-secondary);
			font-size: 14px;
		}
		// channel text fix
		.name-23GUGE {
			color: var(--text-normal);
		}
		// channel options fix
		.actionIcon-PgcMM2 {
			color: var(--theme-accent-username);
		}
		// add channel recolor
		.addButtonIcon-2CbG1X {
			color: var(--theme-accent);
		}
	// small sidebar when mentioned 
		.mentioned-xhSam7:before {
			background-color: var(--background-modifier-accent);
		}
	// spotify color fix 
		.theme-light:root {
			--spotify-color: var(--spotify-accent) !important;
		}
	// make titlebar white 
		.container-1r6BKw.themed-ANHk51 {
			background: var(--background-secondary);
		}
		.children-19S4PO:after {
			display: none;
		}
	// unread banner pill tweaks
			.unread-1xRYoj {
				background-color: var(--theme-accent-brighter);
				width: 100px;
				border-radius: 10px;
				margin-left: auto;
				margin-right: auto;
				opacity: 1;
			}
	// server select/unread pill recolor
			.item-2hkk8m {
				background-color: var(--theme-accent);
			}
			.text-2e2ZyG {
				font-size: 14px;
				font-weight: normal;
			}
	// viewing older messages 
			.jumpToPresentBar-G1R9s6 {
				background: var(--theme-accent-brighter);
				opacity: 1;
				text-shadow: var(--elevation-high);
			}
	// reactions tweaks 
		.reactionInner-15NvIl {
			background-color: var(--theme-accent-highlight);
			border-radius: 10px;
		}
		.theme-light .reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
			color: var(--text-normal);
		}
		.reactionInner-15NvIl[aria-pressed="true"] {
			background-color: var(--theme-accent-superbright);
			border-radius: 10px;
		}
	// reply stuff that i don't understand
		#app-mount .replying-1x3H0T {
			background: var(--theme-accent-highlight);
			height: auto;
		}
		#app-mount .replying-1x3H0T::before {
			content: none;
		}
	// change reply preview text 
		.repliedMessage-VokQwo {
			color: var(--text-normal);
		}
	// powerbottom toggle switch color fix
		.icon-3Gkjwa {
			filter: grayscale(100%);
		}
		.icon-3Gkjwa:hover {
			filter: grayscale(0%);
		}
	// theme selected 
		.item-26Dhrx[aria-checked="true"] {
			color: var(--theme-accent-superdark);
		}
	// switch recolor 
		.container-3auIfb {
			background-color: var(--theme-accent);
		}
	// discord icon perm color 
		.childWrapper-anI2G9 {
			background-image: linear-gradient(to bottom, var(--theme-accent-brighter), var(--theme-accent-brighter)); 
		}
		.homeIcon-FuNwkv {
			color: var(--theme-main);
		}
	// powercord card bg fix
		.cardPrimary-1Hv-to {
			background: var(--theme-main);
			border-color: var(--theme-accent-brighter);
		}
	// new messages divider 
		.divider-JfaTT5 {
			--divider-color: var(--theme-accent-brighter);
			height: 3px;
			top: 1px;
			bottom: 1px;
			margin-right: 1em;
			margin-left: 1em;
			background-color: var(--theme-accent-brighter);
			border-top: 2px solid var(--theme-accent-brighter);
			//border-top: thick solid var(--theme-accent-brighter);
		}
		.content-1o0f9g {
			color: var(--theme-accent);
			font-weight: bold;
		}
		.group-spacing-0 .divider-3_HH5L {
			margin-bottom: 4px;
			margin-top: 2px;
		}
	// typing indicator recolor
		.base-gE7OpD {
			color: var(--text-secondary);
			font-weight: bold;
		}
	// new pins indicator
		.iconBadge-qZ4Ksk {
			background-color: var(--theme-accent);
		}
	// channel icon 
		.icon-1DeIlz {
			color: var(--theme-accent-username) !important;
		}
		.iconWrapper-2OrFZ1[aria-label="Text Channel"] svg {
			color: var(--theme-accent-username) !important;
		}
	// titlebar icons
		.iconWrapper-2OrFZ1 {
			color: var(--theme-accent);
		}
	// role remove color on border
		.role-2irmRk {
			border-color: var(--theme-accent) !important;
			border: 1px solid;
			font-size: 14px;
			color: var(--text-normal);
		}
	// friends list fix background 
		.peopleColumn-29fq28 {
			background-color: var(--background-primary);
		}
		.peopleListItem-2nzedh {
			border-top: 0px solid var(--background-modifier-accent);
			height: 48px !important;
		}
	// emoji complete
		.autocomplete-1vrmpx {
			background-color: var(--background-primary) !important;
		}
		.selected-1Tbx07 {
			background-color: var(--theme-accent-highlight) !important;
		}
		.colorInteractiveActive-3Ip9Eu {
			color: var(--text-secondary);
		}
	// upload modal
		.uploadModal-2ifh8j {
			background: var(--background-primary) !important;
		}
		.theme-light .footer-3mqk7D, .theme-light .footer-2gL1pp {
			background-color: var(--background-primary);
		}
		.checkbox-1ix_J3 path {
			fill: var(--theme-accent)
		}
		.lookFilled-1Gx00P.colorBrand-3pXr91 {
			color: var(--text-normal);
		}
	// update icon recolor 
		.updateIconForeground-3tnNZn {
			fill: var(--interactive-normal);
		}
	// channel topic full view modal
		.theme-light .root-1gCeng {
			background: var(--background-primary);
		}
	// make all usernames the same color
		.username-1A8OIy, .roleColor-rz2vM0 {
			// filter:contrast(80%);
			color: var(--theme-accent) !important;
		}
		// change my own name to a fancy color
			[data-author-id="350035677850894340"] .username-1A8OIy {
				background-image: linear-gradient(315deg, #987B65, #866860, #76585D, #664B5A, #4E3B52) !important;
				color: transparent !important;
				filter: saturate(4);
				background-clip: text;
				-webkit-background-clip: text;
			}
		// make replied usernames not that color	
			.repliedMessage-VokQwo .username-1A8OIy {
				color: var(--theme-accent) !important;
				filter: saturate(1);
			} 
	// reply context icon 
		.repliedTextContentIcon-1ivTae {
			color: var(--theme-accent-text);
		}
	// username in dm call on hover
		.title-29uC1r {
			color: var(--theme-accent-text);
		}
	// call backgroud im pretty sure 
		/*.root-2sELX6 {
			background-color: var(--theme-accent-highlight);
		}*/
	// change add friend button
		.tabBar-ZmDY9v .item-3HknzM:nth-last-child(1), .tabBody-3YRQ8W:nth-last-child(1) {
			background-color: var(--theme-accent) !important;
		}
	// change phone online to theme color
		.cursorDefault-dsQJ1n {
				fill: var(--theme-accent) !important;
		}
/// Shadows ==================================================
	// main chat 
		// main chat window drop shadow 
			.chatContent-a9vAAp {
				//box-shadow: inset var(--elevation-medium);
				transition: box-shadow 0.2s ease-in-out;
			}
			.title-3qD0b- {
				border: transparent;
			}
		// usernames in chat 
			/*.username-1A8OIy {
				//text-shadow: 0px 0px 4px rgba(0,0,0,0.25);
				filter: contrast(50%);
				-webkit-text-stroke-width: 0px;
				-webkit-text-stroke-color: var(--theme-accent-text);
			}*/
			.headerText-3Uvj1Y {
				//background-color: gray;
				border-radius: 5px;
				width: calc(100% + 20px);
				margin-right: 0px !important;
			}
			/*span.username-1A8OIy.desaturateUserColors-1gar-1.clickable-1bVtEA {
				text-shadow: var(--elevation-stroke-text);
				//color: black !important;
			}*/
		// main message bar drop shadow 
			.scrollableContainer-2NUZem {
				box-shadow: var(--elevation-low), var(--elevation-stroke);
				transition: box-shadow 0.2s ease-in-out;
			}
			.scrollableContainer-2NUZem:hover {
				box-shadow: var(--elevation-medium), var(--elevation-stroke);
			}
			.scrollableContainer-2NUZem:focus-within {
				box-shadow: var(--elevation-medium), var(--elevation-stroke);
			}
		// reply bar drop shadow 
			.attachedBars-tZDmyV {
				box-shadow:var(--elevation-medium), var(--elevation-stroke);
			}
		// small message options container
			.wrapper-2aW0bm {
				box-shadow: var(--elevation-low), var(--elevation-stroke);
			}
	// shadow on own pfp 
		.container-3baos1 {
			box-shadow: var(--elevation-low), var(--elevation-stroke);
			border-radius: 25px;
			height: 48px;
		}
		.actionButtons-14eAc_ {
			width: 120px;
		}
		.actionButtons-14eAc_ button {
			width: 60px;
			content: none;
		}
		.buttonIcon-Od8mYw.withText-10pQhr {
			margin-left: 4px !important;
		}
		.actionButtons-14eAc_ > .button-1YfofB.buttonColor-7qQbGO, .button-1YfofB .buttonColor-7qQbGO {
			background-color: var(--theme-accent-brighter);
		}
		.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
			background-color: var(--theme-accent-brighter);
		}
		.panels-j1Uci_  .container-3baos1 .flex-1O1GKY .button-14-BFJ:not(:nth-child(0)) {
			bottom: 48px;
			left: 4px;
			border-radius: 50%;
			position: relative;
		}
		.nameTag-3uD-yy.canCopy-2VBT7N {
			top: 0px;
			position: relative;
		}
		.avatarWrapper-2yR4wp {
			top: 0px;
			position: relative;
		}
		.subtext-3CDbHg, .default-3sgIpy, .customStatus-3tC2ig {
			overflow: visible !important;
		}
		.hoverRoll-YK53gQ {
			width: 210%;
		}
	// removes broken drop shadow on chat pfps 
		.mask-1l8v16 {
			box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
		}
	// popout pfp shadow 
		.mask-1l8v16 {
			box-shadow: var(--elevation-medium);
		}
	// embed tweaks 
		.embedWrapper-lXpS3L {
			box-shadow: var(--elevation-medium), var(--elevation-stroke-strong);
			border: none;
		}
	// code block tweaks 
		.markup-2BOw-j code {
			background: #F3E2D8;
			font-family: 'JetBrains Mono';
			border-radius: 5px;
		}
	// picture in picture shadow
		.pictureInPictureVideo-2iKsGg {
			box-shadow: var(--elevation-high);
		}
	// discord icon shadow
		//#guildsnav___home {

		//}
	// bar for user volume
		.theme-light .bar-2Qqk5Z {
			background: var(--theme-accent-highlight);
		}
	// little handle in user volume bar
		.grabber-3mFHz2 {
			background-color: var(--theme-accent);
			box-shadow: 0 0 0 0 #000;
			border: 1px solid transparent;
		}
	// make unread channel name normal
		.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
			color: var(--text-normal);
		}
/// Size/shape tweaks ==================================================	
	// nitro banner fix 
		.bannerPremium-2hSAwz {
			height: 120px;
		}
	// popout transition tweak 
		.full-motion .translate-2dAEQ6.animatorRight-3i_YPs {
			transform: translate3d(0px,-10px,0);
			-webkit-transform: translate3d(0px,-10px,0);
			transition: 0.2s ease-in-out;
		}
		.full-motion .translate-2dAEQ6.animatorLeft-1EQxU0 {
			transform: translate3d(0px,-10px,0);
			-webkit-transform: translate3d(0px,-10px,0);
			transition: 0.2s ease-in-out;
		}
	// viewing older messages bar 
		.jumpToPresentBar-G1R9s6 {
			width: auto;
			left: auto;
		}
	// settings remove side margin 
		.contentColumn-2hrIYH, .customColumn-Rb6toI {
			max-width: unset;
		}
		.sidebarRegion-VFTUkN {
			flex: 0 0 auto;
		}
	// settings sidebar spacing 
		.sidebar-CFHs9e {
			padding-top: 10px;
			padding-left: 0px;
		}
	// unread channel pill 
		.unread-2lAfLh {
			background: var(--theme-accent);
			height: 28px;
			width: 4px;
			top: 4px;
			left: 2px;
			border-radius: 4px;
			z-index: 10;
			position:absolute;
			margin-top: -2px;
			margin-bottom: -25px;
		}
	// server unread / selected pill
		.item-2hkk8m {
			background-color: var(--theme-accent-brighter);
		}
	// server icons tweaks 
		// add server tweaks
			.circleButtonBase-2DCxIZ {
			//	border-radius:50%;
				filter: grayscale(0%);
			}
			.circleIconButton-1QV--U {
				border-radius:50%;
				color: var(--theme-accent);
				box-shadow: inset var(--elevation-stroke);
			}
			.circleIconButton-1QV--U.selected-1JjBPm {
				color: var(--background-primary);
				background-color: var(--theme-accent-brighter);
			}
		// puts all not selected servers at medium elevation
		[aria-label=Servers] .listItem-GuPuDH:not(.selected) svg {
			border-radius: 20px;
			box-shadow: var(--elevation-medium), var(--elevation-stroke-text);
		  }
		// put selected server at high elevation
		[aria-label=Servers] .listItem-GuPuDH:is(.selected) svg {
			border-radius: 12px;
			box-shadow: var(--elevation-high), var(--elevation-stroke-text);
		}
		// hide svg shadow
		[aria-label=Servers].expandedFolderIconWrapper-Huv7rA:not(.selected) svg {
			box-shadow: none !important;
		  }
		 .listItem-GuPuDH {
			.expandedFolderIconWrapper-Huv7rA svg {
				box-shadow: none !important;
			}
		}
		.folder-1hbNCn {
			border-radius: 50%;
		}
		.folderIconWrapper-1_bOZe {
			border-radius: 12px;
			box-shadow: none;
		}
		// folder expanded background 
			.expandedFolderBackground-1cujaW {
				background-color: var(--theme-accent-highlight);
				border-radius: 50px !important;
			}
		.childWrapper-anI2G9 {
			border-radius: 12px;
		}
		.icon-27yU2q {
			border-radius: 12px;
		}
		/*.wrapper-3Njo_c {
			box-shadow: none;
		}
		// set server list to correct height
		.tree-2wKJdG {
			width: 72px;
		}
		// hide unseleceted cicle mask
		.svg-1X37T1 > mask {
			display: none !important;
		}
		.svg-1X37T1 > foreignObject {
			mask: none; 
		}
		// make icon rounded
		.icon-27yU2q {
			border-radius: 12px !important;
		}*/
	// channel tweaks 
		// private messages 
			.layout-2DM8Md {
				border-radius: 5px;
				width: 220px;
			}
			.selected-aXhQR6 .layout-2DM8Md {
				box-shadow: var(--elevation-stroke);
			}
		// channels 
			.content-1x5b-n {
				border-radius: 0px;
				color: var(--theme-accent);
				width: 240px;
				left: -8px;
				height: 34px;
				margin-top: -2px;
			}
			.modeSelected-346R90 .content-1x5b-n {
				box-shadow: var(--elevation-stroke);
				height: 34px;
			}
			.mainContent-2h-GEV > .name-3l27Hl {
				font-weight: bold;
			}
	// new messages bar 
		.newMessagesBar-265mhP {
			width: auto;
			left: auto;
			right: -8px;
			background-color: var(--theme-accent-brighter);
			opacity: 1;
		}
	// server icon in inbox 
		.icon-3o6xvg {
			left: 10px;
		}
	// collapse button in inbox 
		.collapseButton-2ZsEjz {
			left: 5px;
			margin-right: 20px;
		}
	// search bar transition
		.searchBar-3dMhjb {
			width: 28px;
			transition: width 0.1s ease-in-out;
			background-color: var(--theme-accent-highlight);
			height: 25px;
			color: var(--text-normal);
		}
	// right click submenu margin fix
		.submenuContainer-2gbm7M {
			left: -8px;
		}
		#message-add-reaction, #message-item-0-0-1, #user-context-invite-to-server, #user-context-roles, #channel-context-channel-notifications, #channel-context-mute-channel, #guild-context-mute-guild {
			left: 8px;
		}
		/*#channel-context-channel-notifications {
			display: none;
		}*/
		// delete channel color tweak
		.colorDanger-2qLCe1.focused-3afm-j {
			background-color: var(--theme-accent);
		}
		// divider tweaks
		.separator-2I32lJ {
			border-bottom: 2px solid var(--theme-accent-brighter);
			width: calc(100% + 10px);
			left: -10px;
		}
	// dated divider 
		.divider-3_HH5L.hasContent-1_DUdQ.divider-JfaTT5.hasContent-1cNJDh {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}
	// reply shape tweaks
		.repliedMessage-VokQwo {
			--reply-spacing: 2px;
		}
		.repliedMessage-VokQwo span {
			opacity: 1 !important;
		}
		.repliedMessage-VokQwo:before {
			border-color: var(--theme-accent-username);
			height: 50%;
			width: 32px;
		}
	// channel topic font weight
		.topic-TCb_qw {
			font-weight: 500 !important;
			font-size: 16px;
			font-style: italic;
			overflow-x: scroll hidden;
			width: 100%;
		}
		.topic-TCb_qw::after {
			z-index: 1;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50px;
			background: linear-gradient(90deg,hsla(0,0%,100%,0),var(--background-primary)70%,var(--background-primary));
		}
	// diff message spacing
		.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
			padding-top: 0.1em;
			padding-bottom: 0.1em;
		}
		.messageGroupWrapper-o-Zw7G {
			.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	// user popout message placeholder 
		.inputDefault-_djjkz.input-cIJ7To.input-2_SIlA > {
			::placeholder {
				content: "message.." !important;
			}
		}
		.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
			border-color: var(--theme-accent);
		}
	// mutual server nick realignment
		.listRow-1iDGel .icon-3o6xvg {
			margin-left: -10px;
		}
		.listRowContent-i8Bizk {
			margin-left: 6px;
		}
/// Hidden elements ==================================================
	// hide titlebar
		//.titleBar-AC4pGV {
		//	display: none;
		//}
	// hide small server separator bar 
		.guildSeparator-33mFX6 {
			display: none;
		}
		.scroller-1Bvpku > .listItem-GuPuDH {
			display: none;
		} 
	// hide help button 
		.iconWrapper-2OrFZ1[aria-label="Help"]>.icon-22AiRD {
			display: none;
		}
	// hide file button 
		.attachWrapper-2TRKBi{
			display: none;
		}
	// hide gift button 
		.buttons-3JBrkn>[aria-label]{
			display:none;
		}
	// hide weird bar on the side of the message bar 
		.form-2fGMdU::before {
			display: none;
		}
	// messages scroll bar 
		.scroller-2LSbBU::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
	// server channel scroll bar 
		.scroller-RmtA4e::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
	// direct messages list scroll bar 
		.thin-1ybCId::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
		.peopleList-3c4jOR::-webkit-scrollbar {
			display: none;
		}
	// hide set server nick in popout
		.setIdentityLink-1t8Ahd {
			display: none;
		}
	// hide stage discovery/nitro channel in dms
		#private-channels-2 {
			display: none;
		}
		#private-channels-1 {
			display: none;
		}
	// hide browse public servers 
		.scroller-1Bvpku > .listItem-GuPuDH:nth-last-child(2) {display: none;}
	// hide spotify logo 
		.spotifyIcon-2J9kSv path {
			display: none;
		}
	// hide mentioned server pill
		.mention-1f5kbO {
			display: none;
		}
/// search bar/inbox stuff ==================================================
	.container-2j2llN {
		box-shadow: var(--elevation-medium), var(--elevation-stroke);
		border-radius: 10px;
		color: var(--theme-accent-text);
	}
	.searchResult-9tQ1uo {
		box-shadow: var(--elevation-medium), var(--elevation-stroke);
		border-radius: 10px;
	}
	.messages-3G3erD {
		box-shadow: var(--elevation-medium), var(--elevation-stroke);
		border-radius: 10px;
		top: 10px;
	}
	.container-enaOkj {
		color: var(--background-primary);
		background-color: var(--background-primary);
	}
	.messageGroupWrapper-o-Zw7G {
		box-shadow: var(--elevation-medium), var(--elevation-stroke);
		right: 4px;
	}
	.header-2-Imhb {
		min-height: 50px;
		margin-bottom: 5px;
	}
	.channelHeader-3Gd2xq {
		height: 50px;
		top: 5px;
		width: auto;
		border-radius: 10px;
		margin-bottom: 10px;
		box-shadow: var(--elevation-medium), var(--elevation-stroke);
	}
	.focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb {
		background-color: var(--theme-accent-superbright);
	}
	// seach options header text
	.header-2N-gMV {
		color: var(--theme-accent) !important;
		font-size: 14px !important;
		font-weight: bold !important;
	}
	// complete keybind
		.theme-light .dim-1l4L4y span {
			color: var(--text-normal);
			background-color: var(--theme-accent-highlight);
		}
	// search options background
	.container-3ayLPN.elevationBorderHigh-2WYJ09 {
		background-color: var(--theme-main);
	}
	#search-results--1 {
		background-color: var(--theme-main);
	}
	// hide option side gradient
	.option-96V44q::after {
		background: none !important;
	}
	// change hovered option color 
		.layer-v9HyYc {
			.selected-rZcOL- {
				background-color: var(--theme-accent-superbright) !important;
			}
		}
	//  text for option color fix
		.filter-3Y_im- {
			color: var(--text-normal) !important;
		}
		.answer-1n6g43 {
			color: var(--text-secondary) !important;
		}
		// username
			.displayedNick-3xxvzU {
				color: var(--text-normal) !important;
			}
			.displayUsername-Qekxml {
				color: var(--text-secondary) !important;
			}
	// search history text
		.nonText-3CRkO0 {
			color: var(--text-normal) !important;
		}
	// clear search history button color
		.searchClearHistory-2cSSMO {
			color: var(--theme-accent) !important;
		}
	// hide learn more
		.searchLearnMore-3SQUAj {
			display: none;
		}
	// hide activity panel 
		.nowPlayingColumn-2sl4cE {
			display: none;
		}
/// unused	==================================================
/*
	// messages pfp shadow 
		.avatar-1BDn8e {
			box-shadow: var(--elevation-low);
		}
	// make server folder non transparent
		.folderIconWrapper-1_bOZe {
			background-color: transparentize(.3);
		}
	// hide status mask
		.avatar-1BDn8e foreignObject {
			border-radius: 12px;
		}
		.pointerEvents-2zdfdO {
			rect {
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg);
			}
		}
		.mask-1l8v16.svg-2V3M55 {
			rect {
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg);
			}
		}
		.mask-1l8v16.svg-2V3M55 foreignObject {
			rect { 
				mask: url(https://github.com/saturnian-code/discord/blob/a82d296a084bafcf42c32f7b14bb05ba64864e1f/themes/mutual-assets/12px-mask.svg)
			}
		}
*/
// random snippets that i cant remember
	// change edited text to icon
		.edited-3sfAzf {
			color: transparent;
			-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='33px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z'/%3E%3C/svg%3E") center/16px no-repeat;
			mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z'/%3E%3C/svg%3E") center/16px no-repeat;
			background: var(--text-muted);
			position: relative;
			left: -20px;
			bottom: 2px;
		}
	// move message bar down + fixes needed for that
	